@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
    background-image: url(../Photos/Photo_Administrateur.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
	margin: 10% 10%;
}

.Candidat {
    background-color: white;
    padding: 40px 60px;
    border-radius: 10px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #FF5B5B;
    text-align: center;
    font-size: 30px;
}

input, select, textarea {
	display: flex;
    flex-direction: column;
	padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
    margin-bottom: 15px;
    outline: none;
    font-family: 'Raleway', sans-serif;
    font-size: 17px; 
}

label {
	font-size: 17px; 
}

.Bouton {
    display: flex;
    flex-direction: column;
    padding: 15px 45px;
    border: none;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 17px; 
    outline: none;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
	margin-left: auto;
	margin-right: auto
}

.Bouton:hover {
    background-color: #FF5B5B;
    color: white
}

footer {
    color: #f2f2f2;
}